<!--Header-->
<header class="header">
    <div class="wrapper">
        <nav class="header__nav">
            <!--Logo-->
            <a href="/src/index.html" class="header__logo">
                <p class="header__text">Tradikus</p>
            </a>

            <!-- Botón Hamburguesa -->
            <button class="header__burger" aria-label="Abrir menú">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <!--Menú-->
            <ul class="header__nav-list header__nav-list--mobile">

                <!--Extra-->
                <li class="header__nav-item">
                    <a href="/src/extra.html" class="header__nav-link">Repositorio</a>
                </li>

                <!--Ponentes-->
                <li class="header__nav-item">
                    <a href="/src/ponentes.html" class="header__nav-link">Ponentes</a>
                </li>
            </ul>
        </nav>
    </div>
</header>